<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reversi</title>
    <link rel="stylesheet" type="text/css" href="styleGame.css"/>
</head>
<body>
    <main>
        <section id="center">
            <h1>Reversi</h1>
            <h2>The board <br> game for two</h2>
            <img class = "logo"src="images/reversiSmallBoard.jpg" alt="Logo of the game">
            <form action="/play" method="get">
                <button id="game-button" type="submit" onclick="connect()">Play</button>
            </form> 
            <div class="right">
            </div>
        </section>
        <div class="score">
            
            <h3>
                <%if (startedGames != 1) { %>
                    Games
                <% } else { %>
                    Game
                <% } %>
                started:
                <%= startedGames - 1 %> 
            </h3>
            <h3>
                <%if (playerCount != 1) { %>
                    Players
                <% } else { %>
                    Player
                <% } %>
                online:
                <%= playerCount %>
            </h3>
            <h3>
                <%if (finishedGames != 1) { %>
                    Games
                <% } else { %>
                    Game
                <% } %>
                completed:
                <%= finishedGames %> 
            </h3>
            
        </div>
    </main>
</body>
</html>