body {	
	background-color:rgb(221, 221, 221);
	margin: 0 auto;
    overflow: hidden;
    height: 100vh;
	justify-content: space-evenly;
}

#center {
	width: 100%;
	letter-spacing: 2px;
}

#center h1 {
    color: rgb(244, 85, 81);
    font-size: 4em;
    margin: 5% 0 0 3%;
    font-weight: bold;
}

#center h2 {
    color: rgb(49, 71, 94);
    font-size: 2.5em;
    margin: 2% 0 0 3%;
    font-weight: bold;
}

#game-button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
	padding: 5px 40px;
    font-size: 2.5em;
	text-align: center;
	cursor: pointer;
	outline: none;
	background-color: rgb(49, 71, 94);
	border: none;
	position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);     
	color: rgb(244, 85, 81);
    transition: all 0.05s linear;
}

#game-button:hover{
    font-size: 1.5em;
}

.logo {
    position: absolute;
    width: 40vh;
    bottom: 2.5%;
    left: 3%;
}

.right{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100vh 45vw;
    border-color: transparent transparent rgb(33, 40, 50) transparent;
}

#right-corner{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30vh 15vw;
    border-color: transparent transparent rgb(49, 71, 94) transparent;
}

.score{
    right: 5%;
    bottom: 2.5%;
    position: absolute;
    width: 30vw;
    float: right;
    color: rgb(244, 85, 81);
    font-size: 2em;
    text-align: right;
}
.score h3{
    margin: 2% 0 2% 0;
}

#main-game{
    margin-top: 12.5%;
    width: 100%;
    height: 100%;
}
.board-frame {
	width: 100%;
	height: 100%;
	position: relative;
}

.main-board {
    display: flex;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	flex-direction: column;
    box-sizing: border-box;
    
}

.rowLast{
    width: 100%;
    height: 12.5%;
    display: flex;
    border: 2px solid rgb(33, 40, 50);
    border-bottom: 5px solid rgb(33, 40, 50) ;
}

.row {
    width: 100%;
    height: 12.5%;
    display: flex;
    border: 2px solid rgb(33, 40, 50);
}

.col {
	width: 12.5%;
	height: 100%;
	border: 2px solid rgb(33, 40, 50);
	background-color: rgb(22, 199, 153);
    position: relative;
}

.square {
	position: relative;
}

.white-disks {
	border-radius: 50%;
	width: 80%;
	padding-bottom: 80%;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(221, 221, 221);
	box-shadow: 1px 1px 14px;
}

.black-disks {
	border-radius: 50%;
	width: 80%;
	padding-bottom: 80%;
	position: absolute;
	margin: 0 auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgb(33, 40, 50);
	box-shadow: 1px 1px 6px;
}

.prediction {
	border: 2px solid rgba(100, 100, 100);
	width: 80%;
	padding-bottom: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.game-body{
    position: relative;
    width: 100%;
    height: 100vh;
}

#titles{
    float: left;
    width: 30vw;
    text-align: left;
    position: relative;
}

#game-section{
    float: left;
    width: 40vw;
    height: 40vw;
    position: relative;
}
#scores{
    float: left;
    width: 30vw;
}
.scores-spacing{
    padding: 5% 30% 0 35%;
}

#titles h1 {
    color: rgb(244, 85, 81);
    font-size: 3em;
    margin: 10% 0 0 10%;
    font-weight: bold;
}

.white{
    border-radius: 50%;
    width: 20px;
    height: 20px;
	background: rgb(221, 221, 221);
    box-shadow: 1px 1px 6px;
    border: 0.1px solid rgb(33, 40, 50);
    float: left;
    margin-top: 1%;
}

.black{
    border-radius: 50%;
    width: 20px;
    height: 20px;
	background: rgb(33, 40, 50);
    box-shadow: 1px 1px 6px;
    border: 0.1px solid rgb(33, 40, 50);
    float: left;
    margin-top: 1%;
    
}

#titles h3{
    color: rgb(33, 40, 50);
    padding-left: 2%;
    float: left;
    margin: 0;
    font-size: 1.5em;
}
.opponent{
    position: relative;
    margin: 7.5% 0 0 10%;
    height: 30px;
}
.you{
    position: relative;
    margin-left: 10%;
    margin-top: 0;
    height: 30px;
}

#scores h2{
    color: rgb(244, 85, 81);
    font-size: 2.5em;
    margin: 10% 0 0 0;
    font-weight: bold;
    text-align: center;
}

#black-score{
    float: left;
    border-radius: 50%;
    width: 3.8vw;
    height: 3.8vw;
	background: rgb(33, 40, 50);
    box-shadow: 1px 1px 6px;
    border: 0.1px solid rgb(33, 40, 50);
    color: rgb(221, 221, 221);
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 1.4em; 
}

#white-score{
    position: relative;
    float: right;
    border-radius: 50%;
    width: 3.8vw;
    height: 3.8vw;
	background:rgb(221, 221, 221);
    box-shadow: 1px 1px 6px;
    border: 0.1px solid rgb(33, 40, 50) ;
    color: rgb(33, 40, 50);
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 1.4em;
    
}

.actual-scores{
    position: relative;
    width: 100%;
    height: 10vh;
}
#win-lose-draw{
    margin-top: 10%;
    text-align: center;
    font-size: 3em;
    color: rgb(33, 40, 50);
}